@CHARSET "UTF-8";

.ext-art-c-h-redlinkattach {
	outline: none;
}

/* We override GuidedTour's settings for margins and paddding (on our guiders) */
/* so we can add a horizontal line across the whole guider. */

.ext-art-c-h-guider {
	padding: 0 !important;
}

.ext-art-c-h-guider .guider_close {
	/* TODO: Will this get reversed automatically for RTL languages? */
	padding-right: 10px;
	padding-left: 0;
	padding-top: 10px;
}

.ext-art-c-h-guider p.guider_description {
	clear: none !important;
	margin: 0;
}

.ext-art-c-h-guider .ext-art-c-h-inner-container p {
	clear: none !important;
	line-height: 1.45em !important;
	text-align: center;
	margin: 0.15em 0 0.15em 0 !important;
}

.ext-art-c-h-inner-container {
	padding: 12px;
}

.ext-art-c-h-art-title {
	color: #550000 !important;
}

.ext-art-c-h-guider-headline {
	font-size: 1.2em !important;
}

.ext-art-c-h-suggestion-text {
	color: #333 !important;
	font-style: italic;
}

.ext-art-c-h-inline-button {
	margin: 5px !important;
}