@CHARSET "UTF-8";

.ext-art-c-h-redlinkattach {
	outline: none;
}

/* We override GuidedTour's settings for margins and paddding (on our guiders) */
/* so we can add a horizontal line across the whole guider. */

.ext-art-c-h-guider {
	padding: 0 !important;
}

.ext-art-c-h-guider .guider_close {
	/* TODO: Will this get reversed automatically for RTL languages? */
	padding-right: 10px;
	padding-left: 0;
	padding-top: 10px;
}

.ext-art-c-h-guider p.guider_description {
	clear: none !important;
	margin: 0;
}

.ext-art-c-h-guider .ext-art-c-h-inner-container p,
.ext-art-c-h-guider .ext-art-c-h-top-inner-container p,
.ext-art-c-h-guider .ext-art-c-h-bottom-inner-container p {
	clear: none !important;
	line-height: 1.45em !important;
	text-align: center;
	margin: 0.15em 0 0.15em 0 !important;
}

.ext-art-c-h-inner-container {
	padding: 12px;
}

.ext-art-c-h-top-inner-container {
	padding: 12px 12px 7px 12px;
}

.ext-art-c-h-bottom-inner-container {
	padding: 7px 12px 12px 12px;
	border-top: 1px solid #bbb;
	background-color: #f1f1f1;
}

.ext-art-c-h-divided-top-guider .guider_arrow {
	background-image: url("ext.artCH.darkerArrows.png") !important;
}

.ext-art-c-h-art-title {
	color: #550000 !important;
}

.ext-art-c-h-guider-headline {
	font-size: 1.2em !important;
}

.ext-art-c-h-suggestion-text {
	color: #333 !important;
	font-style: italic;
}

.ext-art-c-h-readmore {
	color: #666;
}

.ext-art-c-h-readmore a {
	/* This blue is a bit less saturated than the blue for normal links, */
	/* so it doesn't jump out of the grey background too much. */
	/* TODO: coordinate with skins? */
	color: #061c60;
}

.ext-art-c-h-inline-button {
	margin: 5px !important;
}